In [54]:
import pandas as pd
import geopandas as gpd

df1 = pd.read_csv('Year.2015.ibtracs_wmo.v03r10.csv', sep=',', encoding='latin1')
df2 = pd.read_csv('Year.2016.ibtracs_wmo.v03r10.csv', sep=',', encoding='latin1')
df3 = pd.read_csv('Year.2017.ibtracs_wmo.v03r10.csv', sep=',', encoding='latin1')

pd.set_option('max_columns',20)

df = pd.concat([df1, df2, df3])

display(df.sample(50))

,Serial_Num,year,Num,Basin,Sub_basin,Name,ISO_time,Nature,Latitude,Longitude,Wind(WMO),Pres(WMO),Center,Wind(WMO) Percentile,Pres(WMO) Percentile,Track_type
3299,2015312N11083,2015,12,NI,BB,NOT NAMED,2015-11-08 12:00:00,NR,11.00,82.50,25.0,1002.0,newdelhi,2.297,13.912,main
3406,2015328N11260,2015,27,EP,MM,SANDRA,2015-11-24 00:00:00,TS,10.80,-103.30,35.0,1004.0,atcf,32.623,38.284,main
1711,2016230N25160,2016,12,WP,MM,LIONROCK,2016-08-19 12:00:00,TS,33.10,141.30,0.0,996.0,tokyo,-100.000,33.112,main
1027,2015122N07144,2015,6,WP,MM,NOUL,2015-05-12 18:00:00,ET,38.20,142.20,0.0,996.0,tokyo,-100.000,33.112,main
1189,2016197N14256,2016,7,EP,MM,ESTELLE,2016-07-19 06:00:00,TS,18.40,-117.10,55.0,993.0,atcf,64.412,67.996,main
2499,2016278N16181,2016,21,WP,MM,SONGDA,2016-10-10 00:00:00,TS,24.70,146.40,65.0,970.0,tokyo,59.318,74.253,main
2245,2015229N08212,2015,13,WP,MM,KILO,2015-09-11 12:00:00,ET,43.00,148.00,0.0,980.0,tokyo,-100.000,63.058,main
767,2015069N04173,2015,3,WP,MM,BAVI,2015-03-18 18:00:00,TS,16.10,130.60,0.0,1008.0,tokyo,-100.000,1.521,main
1438,2015180S04163,2015,9,SP,MM,RAQUEL,2015-07-03 00:00:00,NR,-7.70,160.80,30.0,999.0,bom,25.808,23.042,main
887,2016148N27288,2016,2,NA,NA,BONNIE,2016-05-30 06:00:00,TS,33.10,-80.00,25.0,1011.0,atcf,5.031,3.780,main
3322,2015313N22289,2015,12,NA,NA,KATE,2015-11-12 06:00:00,ET,40.00,-52.00,65.0,980.0,atcf,74.042,82.079,main
2335,2015238N10255,2015,15,EP,MM,JIMENA,2015-08-30 12:00:00,TS,14.00,-129.00,120.0,945.0,atcf,97.803,97.271,main
860,2015092S18074,2015,14,SI,MM,JOALANE,2015-04-02 18:00:00,TS,-16.80,73.10,25.0,1001.0,reunion,15.982,22.541,main
396,2016014S13195,2016,6,SP,MM,VICTOR,2016-01-22 12:00:00,NR,-22.30,-175.30,30.0,997.0,nadi,17.816,21.927,main
461,2015047S15152,2015,4,SP,EA,MARCIA,2015-02-20 00:00:00,NR,-22.75,150.45,100.0,944.0,bom,95.986,95.266,main
2758,2016305N10147,2016,26,WP,MM,MEARI,2016-11-01 18:00:00,TS,11.80,138.70,0.0,1000.0,tokyo,-100.000,21.041,main
296,2017113N09144,2017,1,WP,MM,MUIFA,2017-04-28 06:00:00,TS,19.00,136.30,0.0,1008.0,tokyo,-100.000,1.521,main
2811,2016313N11163,2016,27,WP,MM,MA-ON,2016-11-08 18:00:00,TS,12.80,161.40,0.0,1008.0,tokyo,-100.000,1.521,main
1599,2015188N07193,2015,4,WP,MM,HALOLA,2015-07-25 12:00:00,TS,28.30,129.20,60.0,980.0,tokyo,51.677,63.058,main
2190,2015228N17247,2015,12,EP,MM,ELEVEN,2015-08-16 00:00:00,TS,16.50,-112.90,30.0,1003.0,atcf,17.645,42.121,main
1223,2015157N13069,2015,1,NI,AS,ASHOBAA,2015-06-07 06:00:00,NR,15.00,68.20,25.0,1004.0,newdelhi,2.297,4.757,main
3091,2015286N13161,2015,25,WP,MM,CHAMPI,2015-10-17 12:00:00,TS,18.40,140.70,80.0,955.0,tokyo,79.072,85.158,main
1325,2016212N12127,2016,6,WP,MM,NIDA,2016-08-01 06:00:00,TS,21.40,117.50,55.0,980.0,tokyo,43.392,63.058,main
1989,2015218N12231,2015,11,EP,CP,HILDA,2015-08-12 18:00:00,TS,17.30,-151.80,40.0,1002.0,atcf,42.727,45.642,main
3221,2015301N11065,2015,10,NI,AS,CHAPALA,2015-10-30 21:00:00,NR,13.90,59.90,115.0,942.0,newdelhi,98.092,98.799,main
2104,2016256N12146,2016,20,WP,MM,MALAKAS,2016-09-18 00:00:00,TS,26.90,123.50,80.0,950.0,tokyo,79.072,87.899,main
908,2016148N27288,2016,2,NA,NA,BONNIE,2016-06-04 12:00:00,TS,35.60,-67.30,30.0,1007.0,atcf,17.645,21.551,main
1246,2015157N13069,2015,1,NI,AS,ASHOBAA,2015-06-10 12:00:00,NR,21.20,61.10,45.0,990.0,newdelhi,59.505,72.513,main
3003,2015280N13071,2015,9,NI,AS,THREE,2015-10-11 03:00:00,NR,15.60,69.20,25.0,1003.0,newdelhi,2.297,12.662,main
1786,2015207N22091,2015,5,NI,BB,KOMEN,2015-07-29 06:00:00,NR,21.20,91.10,30.0,990.0,newdelhi,19.647,72.513,main
2050,2015226N12151,2015,16,WP,MM,GONI,2015-08-14 18:00:00,TS,13.00,148.20,35.0,1000.0,tokyo,0.000,21.041,main
292,2016005N02187,2016,1,EP,CP,PALI,2016-01-09 06:00:00,TS,7.70,-173.20,50.0,997.0,atcf,58.682,59.766,main
1510,2015184N08172,2015,11,WP,MM,NANGKA,2015-07-12 00:00:00,TS,18.40,137.80,75.0,955.0,tokyo,72.950,85.158,main
2285,2015236N12231,2015,14,EP,MM,IGNACIO,2015-08-24 06:00:00,DS,12.50,-129.90,25.0,1008.0,atcf,5.031,15.951,main
343,2015024S15078,2015,8,SI,MM,EUNICE,2015-02-01 18:00:00,TS,-22.00,82.50,65.0,970.0,reunion,85.845,84.261,main
726,2015068S14112,2015,13,SI,WA,OLWYN,2015-03-13 18:00:00,NR,-27.58,114.68,40.0,990.0,bom,47.251,52.321,main
1710,2015194N13235,2015,7,EP,MM,ENRIQUE,2015-07-12 18:00:00,TS,13.50,-125.50,30.0,1005.0,atcf,17.645,32.311,main
1050,2015126N27281,2015,1,NA,NA,ANA,2015-05-08 12:00:00,SS,31.50,-77.50,40.0,1000.0,atcf,42.727,51.359,main
2395,2015242N12343,2015,6,NA,NA,FRED,2015-09-03 06:00:00,TS,20.70,-32.90,40.0,1005.0,atcf,42.727,32.311,main
1012,2015122N07144,2015,6,WP,MM,NOUL,2015-05-10 00:00:00,TS,17.00,123.30,110.0,920.0,tokyo,98.664,98.004,main
2627,2015259N09336,2015,10,NA,NA,IDA,2015-09-19 00:00:00,TS,13.70,-37.60,35.0,1005.0,atcf,32.623,32.311,main
2258,2016263N13333,2016,13,NA,NA,LISA,2016-09-22 00:00:00,TS,18.90,-32.70,40.0,1005.0,atcf,42.727,32.311,main
2261,2015229N10331,2015,4,NA,NA,DANNY,2015-08-19 06:00:00,TS,11.00,-39.50,45.0,1003.0,atcf,50.436,42.121,main
338,2015024S15078,2015,8,SI,MM,EUNICE,2015-01-31 12:00:00,TS,-20.40,72.50,92.0,947.0,reunion,96.760,94.555,main
79,2014356S08101,2015,4,SI,WA,KATE,2014-12-22 18:00:00,NR,-9.19,100.61,25.0,1004.0,bom,8.811,4.868,main
2897,2015273N12130,2015,22,WP,MM,MUJIGAE,2015-10-01 18:00:00,TS,15.80,121.30,40.0,998.0,tokyo,10.928,27.967,main
2199,2016257N27280,2016,12,NA,NA,JULIA,2016-09-13 06:00:00,TS,27.30,-80.20,30.0,1010.0,atcf,17.645,5.681,main
2449,2015248N10256,2015,17,EP,MM,LINDA,2015-09-08 18:00:00,TS,21.50,-114.50,110.0,950.0,atcf,95.559,95.917,main
1531,2015184N08172,2015,11,WP,MM,NANGKA,2015-07-16 14:00:00,TS,33.40,134.10,65.0,965.0,tokyo,59.318,78.285,main
1876,2015209N15236,2015,10,EP,CP,EIGHT,2015-07-31 06:00:00,DS,16.50,-143.50,25.0,1007.0,atcf,5.031,21.551,main

In [59]:
grouped = df.groupby('Serial_Num')
len(grouped)

news = []

for name, group in grouped:
    #print(f'name: {name}')
    g = group.sort_values(["year"])
    first = g.iloc[0]
    last = g.iloc[-1]
    news.append( {  "Name": first["Name"],
                    "Serial_Num": first["Serial_Num"],
                    "year": first['year'],
                    "Basin": first['Basin'],
                    "Sub_basin": first['Sub_basin'],
                    "Num": first['Num'],
                    "Latitude_first": first['Latitude'],
                    "Longitude_first": first['Longitude'], 
                    "Latitude_last": last['Latitude'],
                    "Longitude_last": last['Longitude'],
                    "ISO_time_first": first['ISO_time'],
                    "ISO_time_last": last['ISO_time'],
                    "Nature": first['Nature']})

storms = pd.DataFrame(news)
storms.to_csv('Years.2015-2017.ibtracs_wmo.storms.csv', sep=',', encoding='latin1', index=False)

In [56]:
storms.sample(50)

,Name,Serial_Num,year,Basin,Sub_basin,Num,Latitude_first,Longitude_first,Latitude_last,Longitude_last,ISO_time_first,ISO_time_last,Nature
119,FANTALA,2016102S12074,2016,SI,MM,9,-11.9,74.2,-5.10,43.4,2016-04-10 18:00:00,2016-04-26 18:00:00,TS
96,RICK,2015322N13253,2015,EP,MM,26,12.9,-107.1,20.20,-126.0,2015-11-18 06:00:00,2015-11-26 06:00:00,DS
128,NEPARTAK,2016185N08145,2016,WP,MM,2,8.3,145.1,26.40,116.7,2016-07-02 12:00:00,2016-07-10 00:00:00,TS
103,NINE,2015362N01179,2015,EP,CP,30,0.6,-179.7,2.20,-176.9,2015-12-28 00:00:00,2016-01-01 12:00:00,NR
28,ANA,2015126N27281,2015,NA,NA,1,26.8,-79.2,43.00,-67.0,2015-05-06 06:00:00,2015-05-12 18:00:00,DS
77,DUJUAN,2015263N14148,2015,WP,MM,21,13.5,148.1,28.70,116.7,2015-09-19 18:00:00,2015-09-30 06:00:00,TS
21,MAYSAK,2015085N06162,2015,WP,MM,4,6.7,159.9,20.60,116.8,2015-03-26 12:00:00,2015-04-07 00:00:00,TS
43,ELA,2015189N13223,2015,EP,MM,5,13.4,-136.9,22.70,-155.8,2015-07-07 12:00:00,2015-07-12 12:00:00,DS
17,NATHAN,2015068S12151,2015,SP,EA,6,-12.4,151.3,-13.00,126.0,2015-03-09 00:00:00,2015-03-27 00:00:00,NR
29,DOLPHIN,2015127N04158,2015,WP,MM,7,4.0,157.9,56.00,178.4,2015-05-06 12:00:00,2015-05-24 00:00:00,TS
76,MALIA,2015260N12187,2015,EP,CP,18,11.9,-173.4,30.80,-173.5,2015-09-17 06:00:00,2015-09-23 00:00:00,NR
6,NIKO,2015020S12208,2015,SP,MM,1,-13.7,-150.7,-26.40,-146.5,2015-01-20 18:00:00,2015-01-24 00:00:00,NR
117,0720152016:SEVENTEEN,2016087S13073,2016,SI,MM,8,-13.1,72.7,-27.40,84.3,2016-03-27 06:00:00,2016-03-30 12:00:00,TS
125,DANIELLE,2016171N19268,2016,NA,GM,4,19.4,-91.6,20.80,-98.7,2016-06-18 18:00:00,2016-06-21 06:00:00,DS
170,MEGI,2016266N11144,2016,WP,MM,21,15.4,141.1,26.50,117.2,2016-09-22 18:00:00,2016-09-29 06:00:00,TS
19,BAVI,2015069N04173,2015,WP,MM,3,4.3,173.4,13.80,121.7,2015-03-10 06:00:00,2015-03-21 12:00:00,TS
23,JOALANE,2015092S18074,2015,SI,MM,14,-18.0,73.9,-37.70,83.6,2015-04-02 00:00:00,2015-04-17 12:00:00,TS
144,NOT NAMED,2016223N22089,2016,NI,BB,3,22.0,88.5,24.40,84.0,2016-08-09 09:00:00,2016-08-12 18:00:00,NR
121,ROANU,2016138N10081,2016,NI,BB,1,11.0,81.0,24.50,94.7,2016-05-17 03:00:00,2016-05-22 00:00:00,NR
98,SANDRA,2015328N11260,2015,EP,MM,27,10.9,-100.5,24.20,-107.7,2015-11-23 12:00:00,2015-11-29 12:00:00,DS
31,BLANCA,2015152N12258,2015,EP,MM,2,12.0,-102.2,28.50,-114.0,2015-05-31 12:00:00,2015-06-09 06:00:00,TS
72,KROVANH,2015257N14152,2015,WP,MM,20,13.9,151.6,44.40,174.0,2015-09-13 18:00:00,2015-09-26 06:00:00,TS
99,TUNI,2015330S10178,2016,SP,MM,3,-10.2,178.0,-18.30,-168.0,2015-11-26 12:00:00,2015-11-30 03:00:00,NR
83,OHO,2015274N13201,2015,EP,CP,22,12.8,-159.5,63.00,-138.0,2015-10-01 06:00:00,2015-10-10 12:00:00,NR
36,NOT NAMED,2015171N19086,2015,NI,BB,2,18.0,86.0,21.00,84.5,2015-06-20 03:00:00,2015-06-21 18:00:00,NR
49,KOMEN,2015207N22091,2015,NI,BB,5,22.0,90.8,23.10,85.5,2015-07-26 00:00:00,2015-08-02 09:00:00,NR
65,FRED,2015242N12343,2015,NA,NA,6,11.6,-17.5,25.30,-43.2,2015-08-30 00:00:00,2015-09-06 12:00:00,TS
150,NOT NAMED,2016230N21089,2016,NI,BB,4,21.0,89.0,25.00,76.5,2016-08-16 12:00:00,2016-08-20 18:00:00,NR
1,0220142015:TWO,2014327S08077,2015,SI,MM,2,-8.0,77.3,-28.90,62.5,2014-11-23 06:00:00,2014-12-02 00:00:00,TS
184,MA-ON,2016313N11163,2016,WP,MM,27,12.8,161.4,21.30,141.4,2016-11-08 18:00:00,2016-11-13 00:00:00,TS
38,CHAN-HOM,2015180N09160,2015,WP,MM,9,8.6,160.4,40.00,126.0,2015-06-29 06:00:00,2015-07-13 00:00:00,TS
10,FUNDI,2015036S20038,2015,SI,MM,9,-19.8,37.6,-39.30,43.9,2015-02-05 00:00:00,2015-02-11 12:00:00,TS
109,STAN,2016027S13119,2016,SI,WA,4,-13.0,118.5,-28.00,126.0,2016-01-27 00:00:00,2016-02-01 00:00:00,NR
126,TWO,2016178N22068,2016,NI,AS,2,21.5,64.5,20.30,62.3,2016-06-27 09:00:00,2016-06-29 00:00:00,NR
147,KAY,2016230N12254,2016,EP,MM,13,12.4,-106.5,23.50,-130.7,2016-08-17 00:00:00,2016-08-26 06:00:00,DS
181,SEYMOUR,2016296N11262,2016,EP,MM,22,11.4,-98.4,25.00,-121.2,2016-10-22 06:00:00,2016-10-30 06:00:00,DS
115,NONAME:SIXTEEN,2016074S16137,2016,SP,EA,10,-15.5,137.4,-16.55,141.1,2016-03-14 00:00:00,2016-03-16 06:00:00,NR
11,HIGOS,2015038N08158,2015,WP,MM,2,8.6,158.3,18.20,152.8,2015-02-06 12:00:00,2015-02-12 12:00:00,TS
24,IKOLA,2015094S10087,2015,SI,MM,15,-10.2,86.9,-21.20,97.9,2015-04-04 06:00:00,2015-04-08 03:00:00,TS
194,UNNAMED,2017079S13122,2017,SI,WA,3,-13.2,122.0,-22.50,119.2,2017-03-19 12:00:00,2017-03-23 18:00:00,NR
71,VAMCO,2015256N16113,2015,WP,MM,19,15.6,112.9,14.30,105.8,2015-09-13 00:00:00,2015-09-15 06:00:00,TS
79,NIALA,2015266N11214,2015,EP,CP,20,11.3,-146.3,14.10,-162.2,2015-09-23 06:00:00,2015-09-30 18:00:00,DS
142,JAVIER,2016220N18258,2016,EP,MM,12,17.7,-102.5,25.70,-112.5,2016-08-06 18:00:00,2016-08-10 12:00:00,DS
92,MEGH,2015309N14067,2015,NI,AS,11,14.1,66.0,13.60,46.5,2015-11-05 00:00:00,2015-11-10 12:00:00,NR
35,KUJIRA,2015171N15112,2015,WP,MM,8,15.0,112.2,22.40,105.9,2015-06-19 18:00:00,2015-06-25 00:00:00,TS
54,NOT NAMED,2015216N23080,2015,NI,BB,7,22.7,80.5,22.70,77.8,2015-08-04 03:00:00,2015-08-04 18:00:00,NR
164,MALAKAS,2016256N12146,2016,WP,MM,20,12.5,144.8,34.50,138.1,2016-09-11 18:00:00,2016-09-20 12:00:00,TS
200,MERBOK,2017161N13119,2017,WP,MM,2,13.0,119.0,25.50,115.7,2017-06-10 00:00:00,2017-06-13 06:00:00,TS
198,MUIFA,2017113N09144,2017,WP,MM,1,8.6,143.9,22.70,141.8,2017-04-22 18:00:00,2017-04-29 06:00:00,TS
174,MATTHEW,2016273N13300,2016,NA,CS,14,13.4,-59.8,35.30,-71.1,2016-09-28 12:00:00,2016-10-10 00:00:00,TS

In [58]:
storms[storms['Name'].str.match("EIGHT")]

,Name,Serial_Num,year,Basin,Sub_basin,Num,Latitude_first,Longitude_first,Latitude_last,Longitude_last,ISO_time_first,ISO_time_last,Nature
51,EIGHT,2015209N15236,2015,EP,MM,10,15.1,-123.9,16.5,-143.5,2015-07-27 12:00:00,2015-07-31 06:00:00,DS
156,EIGHT,2016240N31295,2016,NA,NA,8,30.7,-65.0,36.8,-71.2,2016-08-27 00:00:00,2016-09-01 00:00:00,DS